<h1>Assignment Details for <%=@user.name%></h1>

<table>
  <thead>
    <tr>
      <th>Assignment title</th>
      <th>Assignment description</th>
      <th>Assigned date</th>
      <th>Due date</th>
      <th>Github url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
    <% completed_assignment = @user.get_completed_assignment(assignment) %>
    <% if completed_assignment.on_time == false %>
      <tr class="highlight-row">
    <% else %>
      <tr>
    <% end %>
        <td><%= assignment.title %></td>
        <td><%= assignment.description %></td>
        <td><%= assignment.assigned_date.strftime("%m/%d/%Y") %></td>
        <td><%= assignment.due_date.strftime("%m/%d/%Y") %></td>
        <td><%= completed_assignment.github_url %></td>
        <td>
        <% if completed_assignment.github_url.length == 0 %>
          <%= link_to 'Turn in', homework_path(completed_assignment) %>
        <% else %>
          <%= link_to 'Edit', homework_path(completed_assignment) %>
        <% end %>
      </td>

      </tr>
    <% end %>
  </tbody>
</table>
